
/* MOBILE FOOTER */

.footer__background {
    background-color: #e4e3e3;
  
    padding: 30px 0;
    margin-top: 100px;
}

.footer__container {
    /* margin-top: 100px; */

  }
  
  /* hr {
    border: 0.5px solid #C4CAD0;
    margin-bottom: 50px;
   } */
  
  .footer__parent {
    text-align: center;
    line-height: 2.5;
  }
  
  .footer__logo {
    width: 40px;
  
  } 
  
  .footer__nav {
    margin-right: ;
    text-decoration: none;
    color: #333333;
    display: flex;
    justify-content: center;
  }
  
  .footer__social__links__parent {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .footer__social__links__a {
    text-decoration: none;
  }
  
  .footer__social__links {
    text-decoration: none;
    width: 30%;
  }

  .footer__h3 {
    font-size: 16px;
    color: #cf455c;
    text-align: center;
    padding-top: 20px;
  }
  
  /* DESKTOP FOOTER LINKS */
  
  .desktop__footer__social__links__parent {
    max-width: 170px;
      display: flex;
      display: none;
  }
  
  .desktop__footer__social__links__a {
    text-decoration: none;
    padding-right: 15px;
    display: none;
  }
  
  .desktop__footer__social__links {
    text-decoration: none;
    width: 25px;
    color: #333333;
    display: none;
  }
  
  .footer__social__links:hover {
    text-decoration: underline;
    color: #cf455c;
  }
  
  .footer__nav:hover {
    text-decoration: underline;
    color: #cf455c;
  }
  
  .no__margin__right {
    margin-right: 0;
  }
  
  footer {
    padding-bottom: 50px;
  }



  /* DESKTOP SCREEN SIZE - min-width: 720px DESKTOP SIZE STARTS HERE (720PX) */

@media only screen and (min-width: 775px) {
  

/* FOOTER */

.footer__container {
    padding-top: 80px;
  }
  
  .footer__background {
    background-color: #e4e3e3;
    height: 250px;
    padding: 0;
}
  
  .footer__parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer__logo {
    width: 40px;
  } 
  
  .footer__nav {
    text-decoration: none;
    color: #333333;
  }
  
  .desktop__footer__social__links__parent {
    max-width: 170px;
      display: flex;
  }
  
  .desktop__footer__social__links__a {
    text-decoration: none;
    padding-right: 15px;
    display: block;
  }
  
  .desktop__footer__social__links {
    text-decoration: none;
    width: 25px;
    color: #333333;
    display: block;
  }


.footer__h3 {
    font-size: 16px;
    color: #cf455c;
    text-align: center;
    padding-top: 50px;
  }
  
  /* MOBILE FOOTER LINKS */
  
  .footer__social__links__parent {
    display: flex;
    flex-direction: column;
    display: none;
  }
  
  .footer__social__links__a {
    text-decoration: none;
    display: none;
  }
  
  .footer__social__links {
    text-decoration: none;
    width: 30%;
    display: none;
  }
  
  .footer__social__links:hover {
    text-decoration: underline;
    color: #cf455c;
  }
  
  .footer__nav:hover {
    text-decoration: underline;
    color: #cf455c;
  }
  
  .no__margin__right {
    margin-right: 0;
  }
  
}
  
