/* MOBILE SCREEN SIZE */

/* DEFINE VARIABLES*/

:root {
  --main__background__colour: #eeeeee;
  --main__text__colour: #333333;
  --main__line__height: 1.3;
  --container__width: 1500px;
}

body {
  color: var(--main__text__colour);
  font-family: "Playfair Display", serif;
  line-height: var(--main__line__height);
  background-color: #f1efed;
}

/* MOBILE WIDTH SIZE */

section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}












    /* MOBILE SINGLE TEXT STYLE ************************************************************************************/

.mobile__single__text__style__parent {
  padding: 100px 0;
  
}

.mobile__single__text__style__h3 {
  color: #D7196F;
  padding-bottom: 20px;
  font-size: 13px;

}

.mobile__single__text__style__p {
  font-size: 20px;
  color: #333333;
  line-height: 1.6;
  padding-bottom: 20px;
 
}

    /* MOBILE SINGLE TEXT STYLE ************************************************************************************/






    

    /* MOBILE TITLE AND TWO COLUMN TEXT STYLE ************************************************************************************/

    .mobile__title__2__column__parent__main {
      padding: 100px 0;

    }
    
    .mobile__title__2__column__block {

    }
    
    .mobile__title__2__column__parent__right {
     
    }
    
    .mobile__title__2__column__h3 {
       font-size: 20px;
       padding-bottom: 20px;
       color: #D7196F;
    }
    
    .mobile__title__2__column__p {
      font-size: 16px;
      color: #333333;
      line-height: 1.6;
      padding-bottom: 20px;
    }
  
    /* MOBILE TITLE AND TWO COLUMN TEXT STYLE ************************************************************************************/












/* DISPLAY: NONE; DESKTOP --------------------------- DISPLAY: NONE; DESKTOP SINGLE TEXT STYLE */

.single__text__style__parent {
  padding: 200px 0;
  display: flex;
  justify-content: flex-end;
  display: none;
}

.single__text__style__h3 {
  font-size: 13px;
  color: #D7196F;
  padding-bottom: 20px;
  display: none;
}

.single__text__style__p {
  width: 600px;
  font-size: 20px;
  color: #333333;
  line-height: 1.6;
  display: none;
}


/* DISPLAY: NONE; DESKTOP --------------------------- DISPLAY: NONE; DESKTOP TITLE AND TWO COLUMN TEXT STYLE */

.desktop__title__2__column__parent__main {
  display: flex;
  justify-content: space-between;
  padding: 200px 0;
  display: none;
}

.desktop__title__2__column__block {
  display: none;
}

.desktop__title__2__column__parent__right {
  display: flex;
  width: 600px;
  display: none;
}

.desktop__title__2__column__h3 {
   font-size: 20px;
   display: none;
}

.desktop__title__2__column__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  display: none;
}

.desktop__title__2__column__p__left__padding {
  padding-left: 30px;
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  display: none;
}
















/* DESKTOP SCREEN SIZE - min-width: 720px DESKTOP SIZE STARTS HERE (720PX) */

@media only screen and (min-width: 775px) {
  section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
  }

  




    /* DESKTOP SINGLE TEXT STYLE ************************************************************************************/

  .single__text__style__container {

  }

  .single__text__style__parent {
    padding: 200px 0;
    display: flex;
    justify-content: flex-end;
    
  }

  .single__text__style__h3 {
    font-size: 13px;
    color: #D7196F;
    padding-bottom: 20px;
    display: block;
  }

  .single__text__style__p {
    width: 600px;
    font-size: 20px;
    color: #333333;
    line-height: 1.6;
    display: block;
  }

  /* DESKTOP SINGLE TEXT STYLE ************************************************************************************/



/* DESKTOP TITLE AND TWO COLUMN TEXT STYLE ************************************************************************************/


.desktop__title__2__column__parent__main {
  display: flex;
  justify-content: space-between;
  padding: 200px 0;

}

.desktop__title__2__column__block {
  display: block;
}

.desktop__title__2__column__parent__right {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 30px;
  width: 600px;

}

.desktop__title__2__column__h3 {
   font-size: 20px;
   display: block;
   color: #D7196F;
}

.desktop__title__2__column__p {
  font-size: 16px;
  width: 279px;
  padding-bottom: 30px;
  color: #333333;
  line-height: 1.6;
  display: block;
}



/* DESKTOP TITLE AND TWO COLUMN TEXT STYLE ************************************************************************************/





/* DESKTOP TITLE AND TWO COLUMN DESCRIPTION TEXT STYLE ************************************************************************************/


.desktop__title__2__column__description__parent__main {
  display: flex;
  justify-content: space-between;
  padding: 200px 0;

}

.desktop__title__2__column__description__block {
  display: block;
}

.desktop__title__2__column__description__parent__right {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 30px;
  width: 600px;

}

.desktop__title__2__column__description__h3 {
  font-size: 20px;
  display: block;
  color: #D7196F;
}

.desktop__title__2__column__description__h4 {
   font-size: 16px;
   display: block;
   padding-bottom: 15px;
}

.desktop__title__2__column__description__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  display: block;
  width: 279px;
  color: #999999;
  padding-bottom: 50px;
}



/* DESKTOP TITLE AND TWO COLUMN DESCRIPTION TEXT STYLE ************************************************************************************/














 




/* DISPLAY: NONE; MOBILE --------------------------- DISPLAY: NONE; MOBILE SINGLE TEXT STYLE */

  .mobile__single__text__style__parent {
    padding: 200px 0;
    display: flex;
    justify-content: flex-end;
    display: none;
  }
  
  .mobile__single__text__style__h3 {
    font-size: 15px;
    color: #D7196F;
    padding-bottom: 20px;
    display: none;
  }
  
  .mobile__single__text__style__p {
    width: 600px;
    font-size: 20px;
    color: #333333;
    line-height: 1.6;
    display: none;
  }





  /* DISPLAY: NONE; MOBILE --------------------------- DISPLAY: NONE; MOBILE TITLE AND TWO COLUMN TEXT STYLE */

  .mobile__title__2__column__parent__main {
    padding: 100px 0;
    display: none;
  }
  
  .mobile__title__2__column__block {
    display: none;
  }
  
  .mobile__title__2__column__parent__right {
    display: none;
  }
  
  .mobile__title__2__column__h3 {
     font-size: 20px;
     padding-bottom: 20px;
     display: none;
  }
  
  .mobile__title__2__column__p {
    font-size: 16px;
    color: #333333;
    line-height: 1.6;
    padding-bottom: 20px;
    display: none;
  }


  










































}
