/* MOBILE SCREEN SIZE */

/* DEFINE VARIABLES*/

:root {
  --main__background__colour: #F0F1F3;
  --main__text__colour: #333333;
  --main__line__height: 1.3;
  --container__width: 1500px;
}

body {
  color: var(--main__text__colour);
  font-family: 'Playfair Display', serif;
  line-height: var(--main__line__height);
  background-color: #F0F1F3;
  /* Project pages background-color: #eeeeee */
}

/* MOBILE WIDTH SIZE */

section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */

header {
  height: 70px;
  /* position: sticky;
  top: 0; */
}

.header__container {
  height: 70px;
}

.header__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
}

.header__logo {
  width: 40px;
}

.header__nav__grid {
  display: flex;
}

.header__portfolio {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  
}

.header__profile {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  padding-left: 20px;
}

.header__portfolio:hover {
  text-decoration: underline;
}

.header__profile:hover {
  text-decoration: underline;
}


/* HERO */

.hero__container {
  padding: 100px 15px 100px 15px;
}

.hero__h1 {
  font-size: 26px;
  line-height: 1.4;
  color: #333333;
  /* padding: 25px 86px; */
}

.hero__p {
  font-size: 18px;
  padding-top: 25px;
  /* padding: 25px 86px; */
}

/* .hero__a {
  text-decoration: none;
  color: #D840EA;
  font-weight: 500;
} */

.hero__button__parent {
  padding-top: 30px;
}

.hero__button {
  background-color: #333333;
  border: none;
  color: #333333;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 6px;
}

.hero__button__hover {
    background-color: #F0F1F3; 
    color: 333333; 
    border: 2px solid #333333;
  
}

.hero__button__hover:hover {
  background-color: #333333;
  color: #fff;
}

/* SINGLE IMAGE MOBILE AND DESKTOP */
.single__image__container {
  max-width: 1200px;
  margin: 0 auto;
}

.single__image {
  width: 100%;
  
}

.projects__p {
  font-size: 16px;
  padding: 18px 0 100px 0;
  color: #999999;
}


   /* TITLE AND TWO COLUMN KEY LEARNINGS PARAGRAPH TEXT STYLE */

   .title__2__column__key__learnings__container {
    max-width: 1200px;
   }

.title__2__column__key__learnings__parent__main {

}

hr {
  border: 0.5px solid #C4CAD0;
  margin-bottom: 30px;
}

.title__2__column__key__learnings__block {

}

.title__2__column__key__learnings__parent__right {

}

.title__2__column__key__learnings__h3 {
  font-size: 20px;
  color: #D7196F;
  padding-bottom: 30px;
}

.title__2__column__key__learnings__h4 {
   font-size: 16px;
   padding-bottom: 15px;
}

.title__2__column__key__learnings__p {
  font-size: 16px;
  line-height: 1.6;
  color: #999999;
  padding-bottom: 50px;
}

 /* UX COLLECTIVE LINK TEXT*/

 .achievements__text__links {
  color: #D7196F;
}






/* FOOTER */

/* MOBILE FOOTER */

.footer__container {
  margin-top: 100px;
}

hr {
  border: 0.5px solid #C4CAD0;
  margin-bottom: 50px;
 }

.footer__parent {
  text-align: center;
  line-height: 2.5;
}

.footer__logo {
  width: 40px;
  margin-bottom: 20px;
} 

.footer__nav {
  margin-right: ;
  text-decoration: none;
  color: #333333;
  display: flex;
  justify-content: center;
}

.footer__social__links {
  text-decoration: none;
  color: #333333;
  line-height: 1.8;
}

.footer__social__links:hover {
  text-decoration: underline;
  color: #D7196F;
}

.footer__nav:hover {
  text-decoration: underline;
  color: #D7196F;
}

.no__margin__right {
  margin-right: 0;
}

footer {
  padding-bottom: 50px;

}












/* DESKTOP SCREEN SIZE - min-width: 720px DESKTOP SIZE STARTS HERE (720PX) */

@media only screen and (min-width: 775px) {
  section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }


/* HERO */

.hero__container {
  padding: 150px 15px 100px 15px;
  max-width: 1200px;
}

.hero__h1 {
  font-size: 29px;
  line-height: 1.6;
  color: #333333;

}

.hero__p {
  font-size: 23px;

}

.hero__a {
  text-decoration: none;
  color: #D840EA;
  font-weight: 500;
  text-align: center;
}

.hero__button__parent {

}


 /* TITLE AND TWO COLUMN KEY LEARNINGS PARAGRAPH TEXT STYLE */

 .title__2__column__key__learnings__container {
  padding: 0 20px 0 20px;
 }

 hr {
  border: 0.5px solid #C4CAD0;
  margin-bottom: 30px;
}

 .title__2__column__key__learnings__parent__main {
  display: flex;
  justify-content: space-between;
  /* padding: 200px 0; */
    
}

.title__2__column__key__learnings__block {
  display: block;
}

.title__2__column__key__learnings__parent__right {
  width: 600px;

}

.title__2__column__key__learnings__h3 {
  font-size: 20px;
  display: block;
  color: #D7196F;
}

.title__2__column__key__learnings__h4 {
  font-size: 16px;
  display: block;
  padding-bottom: 15px;
}

.title__2__column__key__learnings__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  display: block;
  color: #999999;
  padding-bottom: 50px;
}




















  


/* FOOTER */

.footer__container {
  margin-top: 200px;
}

hr {
  border: 0.5px solid #C4CAD0;
  margin-bottom: 50px;
 }

.footer__parent {
  display: flex;
  justify-content: space-around;
}

.footer__logo {
  width: 40px;
} 

.footer__nav {
  text-decoration: none;
  color: #333333;
  height: 0px;
}

.footer__social__links {
  text-decoration: none;
  color: #333333;
  line-height: 1.8;
}

.footer__social__links:hover {
  text-decoration: underline;
  color: #D7196F;
}

.footer__nav:hover {
  text-decoration: underline;
  color: #D7196F;
}

.no__margin__right {
  margin-right: 0;
}



footer {
  padding-bottom: 100px;
  
}












  
}
