/* MOBILE SCREEN SIZE */

/* DEFINE VARIABLES*/

:root {
  --main__background__colour: #f1efed;
  --main__text__colour: #333333;
  --main__line__height: 1.3;
  --container__width: 1500px;
}

body {
  color: var(--main__text__colour);
  font-family: 'Playfair Display', serif;
  line-height: var(--main__line__height);
  background-color: #f1efed;
  /* Project pages background-color: #f1efed */
}

/* MOBILE WIDTH SIZE */

section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */

header {
  height: 70px;
  /* position: sticky;
  top: 0; */
}

.project__details__background {
  background-color: #2B2B2B;
}

.header__container {
  height: 70px;
}

.header__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
}

.header__logo {
  width: 40px;
}
.header__nav__grid {
  display: flex;
}

.header__portfolio {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  
}

.header__profile {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  padding-left: 20px;
}

.header__portfolio:hover {
  text-decoration: underline;
}

.header__profile:hover {
  text-decoration: underline;
}

/* HERO */

.hero__container {
  padding: 100px 15px 100px 15px;
}

.hero__img__container {
  max-height: 430px;
}

.hero__img {
  background: url('../images/cabal_hero_image.png'); 
  /* background: url('../images/hero-image-home.png'); */
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -70px;
  z-index: -1;
}

/* PROJECT DETAILS */

.project__details__parent {
  padding: 100px 0;
}

.project__details__h3 {
  font-size: 13px;
  color: #fff;
  padding-bottom: 20px;
}

.project__details__p {
  font-size: 20px;
  color: #fff;
  padding-bottom: 40px;
}

.project__details__summary {
  font-size: 25px;
  color: #fff;

}

/* SINGLE IMAGE MOBILE AND DESKTOP */

.single__image {
  width: 100%;
  padding: 100px 0;
}

/* SINGLE FULL WIDTH IMAGE MOBILE AND DESKTOP */

.single__full__width__image {
  width: 100%;
  padding: 50px 0;
}


/* SINGLE TEXT STYLE */

.single__text__style__container {

}

.single__text__style__parent {
  padding: 50px 0;
  
}

.single__text__style__h3 {
  color: #D7196F;
  padding-bottom: 20px;
  font-size: 13px;
}

.single__text__style__p {
  font-size: 20px;
  color: #333333;
  line-height: 1.6;
  padding-bottom: 20px;
}




/* TITLE AND TWO COLUMN TEXT STYLE */


.title__2__column__parent__main {
  padding: 50px 0;

}

.title__2__column__block {

}

.title__2__column__parent__right {

}

.title__2__column__h3 {
  font-size: 20px;
  padding-bottom: 20px;
  color: #D7196F;
}

.title__2__column__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  padding-bottom: 20px;
}


  /* TITLE AND TWO COLUMN DESCRIPTION TEXT STYLE */

  hr {
    border: 0.5px solid #999999;
    margin-bottom: 30px;
  }

    .title__2__column__description__parent__main {

    }
    
    .title__2__column__description__block {

    }
    
    .title__2__column__description__parent__right {
    
    }
    
    .title__2__column__description__h3 {
      font-size: 20px;
      color: #D7196F;
      padding: 0 0 30px 0;
    }
    
    .title__2__column__description__h4 {
       font-size: 16px;
       padding-bottom: 15px;
    }
    
    .title__2__column__description__p {
      font-size: 16px;
      color: #333333;
      line-height: 1.6;
      color: #999999;
      padding-bottom: 50px;
    }


/* RIGHT IMAGE AND TEXT TWO COLUMN TEXT STYLE */


.right__image__text__2__column__container {
  padding: 50px 20px 100px 20px;
}

.right__image__text__2__column__parent__right {

}

.right__image__text__2__column__h3 {
  font-size: 20px;
  display: block;
  color: #d7196f;
}

.right__image__text__2__column__parent__text {

}

.right__image__text__2__column__h4 {
  font-size: 16px;
  display: block;
  padding-bottom: 15px;
}

.right__image__text__2__column__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  display: block;
  color: #999999;
  padding-bottom: 50px;
}

.right__image__text__2__column__parent__text {
  padding-bottom: 0;
}

.right__image__text__2__column__img__max__width {
  max-width: 220px;
  margin: 0 auto;
}

.right__image__text__2__column__img {
  width: 100%;
 
}


.square {
  background-color: black;
  height: 500px;
  width: 500px;
}


/* LEFT TEXT AND IMAGE TWO COLUMN TEXT STYLE */

.left__text__image__2__column__parent__main {
}

.left__text__image__2__column__block {
}

.left__text__image__2__column__parent__right {
}

.left__text__image__2__column__h3 {
  font-size: 20px;
  color: #d7196f;
  padding-bottom: 30px;
}

.left__text__image__2__column__h4 {
  font-size: 16px;

  padding-bottom: 15px;
}

.left__text__image__2__column__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  color: #999999;
  padding-bottom: 50px;
}

.left__text__image__2__column__img__max__width {
  max-width: 220px;
  margin: 0 auto;
}

.left__text__image__2__column__img {
  width: 100%;
}



/* SINGLE FULL WIDTH IMAGE MOBILE AND DESKTOP */

.single__full__width__image {
  width: 100%;
  padding: 50px 0;
}


/* TITLE AND TWO COLUMN PROFILE AND INTERACTIVE MAP PARAGRAPH TEXT STYLE */

.title__2__column__key__learnings__parent__main {

}

.title__2__column__key__learnings__block {

}

.title__2__column__key__learnings__parent__right {

}

.title__2__column__key__learnings__h3 {
  font-size: 20px;
  color: #D7196F;
  padding-bottom: 30px;
}

.title__2__column__key__learnings__h4 {
   font-size: 16px;
   padding-bottom: 15px;
}

.title__2__column__key__learnings__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  color: #999999;
  padding-bottom: 50px;
}



/* RIGHT IMAGE AND TEXT TWO COLUMN TEXT STYLE */


.right__image__text__2__column__container {
  padding: 100px 20px 100px 20px;
}

.right__image__text__2__column__parent__right {

}

.right__image__text__2__column__h3 {
  font-size: 20px;
  display: block;
  color: #d7196f;
}

.right__image__text__2__column__parent__text {
  padding-top: 50px;
}

.right__image__text__2__column__h4 {
  font-size: 16px;
  display: block;
  padding-bottom: 15px;
}

.right__image__text__2__column__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  display: block;
  color: #999999;
  padding-bottom: 50px;
}

.right__image__text__2__column__img {
  width: 100%;
 
}


.square {
  background-color: black;
  height: 500px;
  width: 500px;
}





/* MOBILE FOOTER */

.footer__container {
  margin-top: 100px;
}

hr {
  border: 0.5px solid #999999;
  margin-bottom: 50px;
 }

.footer__parent {
  text-align: center;
  line-height: 2.5;
}

.footer__logo {
  width: 40px;
  margin-bottom: 20px;
} 

.footer__nav {
  margin-right: ;
  text-decoration: none;
  color: #333333;
  display: flex;
  justify-content: center;
}

.footer__social__links {
  text-decoration: none;
  color: #333333;
  line-height: 1.8;
}

.footer__social__links:hover {
  text-decoration: underline;
  color: #D7196F;
}

.footer__nav:hover {
  text-decoration: underline;
  color: #D7196F;
}

.no__margin__right {
  margin-right: 0;
}

footer {
  padding-bottom: 50px;
}







/* DESKTOP SCREEN SIZE - min-width: 720px DESKTOP SIZE STARTS HERE (720PX) */

@media only screen and (min-width: 775px) {
  section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
/* PROJECT DETAILS */

.project__details__parent {
  padding: 100px 0 40px 0;
  display: block;
  display: flex;
  justify-content: space-between;
}

.project__details__h3 {
  font-size: 13px;
  color: #fff;
  padding-bottom: 20px;
}

.project__details__p {
  font-size: 20px;
  color: #fff;
  padding-bottom: 40px;
}

.project__details__summary {
  font-size: 32px;
  color: #fff;
  width: 600px;
}

  /* SINGLE IMAGE MOBILE AND DESKTOP */

  .single__image__container {
    text-align: center;
    }
    
    .single__image {
      width: 80%;
      padding: 200px 0;
    }


 /* DESKTOP SINGLE TEXT STYLE */

 .single__text__style__container {

}

.single__text__style__parent {
  padding: 100px 0;
  display: flex;
  justify-content: flex-end;
  
}

.single__text__style__h3 {
  font-size: 13px;
  color: #D7196F;
  padding-bottom: 20px;

}

.single__text__style__p {
  width: 600px;
  font-size: 20px;
  color: #333333;
  line-height: 1.6;

}


/* TITLE AND TWO COLUMN TEXT STYLE */


.title__2__column__parent__main {
  display: flex;
  justify-content: space-between;
  padding: 200px 0;

}

.title__2__column__block {
  display: block;
}

.title__2__column__parent__right {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 30px;
  width: 600px;

}

.title__2__column__h3 {
   font-size: 20px;
   display: block;
   color: #D7196F;
}

.title__2__column__p {
  font-size: 16px;
  width: 279px;
  padding-bottom: 30px;
  color: #333333;
  line-height: 1.6;
  display: block;
}


/* TITLE AND TWO COLUMN DESCRIPTION TEXT STYLE */


.title__2__column__description__parent__main {
  display: flex;
  justify-content: space-between;
  padding: 200px 0 100px 0;

}

.title__2__column__description__block {
  display: block;
}

.title__2__column__description__parent__right {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 30px;
  width: 600px;

}

.title__2__column__description__h3 {
  font-size: 20px;
  display: block;
  color: #D7196F;
}

.desktop__title__2__column__description__h4 {
   font-size: 16px;
   display: block;
   padding-bottom: 15px;
}

.title__2__column__description__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  display: block;
  width: 279px;
  color: #999999;
  padding-bottom: 50px;
}

/* RIGHT IMAGE AND TEXT TWO COLUMN TEXT STYLE */


.right__image__text__2__column__container {
  padding: 200px 20px 200px 20px;
}

.right__image__text__2__column__parent__right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right__image__text__2__column__h3 {
  font-size: 20px;
  display: block;
  color: #d7196f;
}

.right__image__text__2__column__parent__text {
  padding-left: 20px;
}

.right__image__text__2__column__h4 {
  font-size: 16px;
  display: block;
  padding-bottom: 15px;
}

.right__image__text__2__column__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  display: block;
  color: #999999;
  padding: 0 0 50px 0;
  width: 400px;
}

.right__image__text__2__column__img {
  width: 100%;
 
}


 /* RIGHT IMAGE AND TEXT TWO COLUMN TEXT STYLE */


 .right__image__text__2__column__container {
  padding: 200px 20px 200px 20px;
}

.right__image__text__2__column__parent__right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right__image__text__2__column__h3 {
  font-size: 20px;
  display: block;
  color: #d7196f;
}

.right__image__text__2__column__parent__text {
  /* padding-bottom: 110px; */
}

.right__image__text__2__column__h4 {
  font-size: 16px;
  display: block;
  padding-bottom: 15px;
}

.right__image__text__2__column__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  display: block;
  color: #999999;
  padding-bottom: 50px;
  width: 400px;
}

.right__image__text__2__column__img__max__width {
  max-width: 100%;
  margin: 0;
}

.right__image__text__2__column__img {
  width: 100%;
 
}



  /* LEFT TEXT AND IMAGE TWO COLUMN TEXT STYLE */

  .left__text__image__2__column__container {
    padding: 0 20px 0 20px;
  }

  .left__text__image__2__column__parent__right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .right__text__image__2__column__parent__text {
    padding-bottom: 110px;
  }

  .left__text__image__2__column__h3 {
    font-size: 20px;
    display: block;
    color: #d7196f;
  }

  .left__text__image__2__column__h4 {
    font-size: 16px;
    display: block;
    padding-bottom: 15px;
  }

  .left__text__image__2__column__p {
    font-size: 16px;
    color: #333333;
    line-height: 1.6;
    display: block;
    color: #999999;
    padding-bottom: 50px;
    width: 400px;
  }

  .left__text__image__2__column__img__max__width {
    max-width: 100%;
    margin: 0;
  }

  .left__text__image__2__column__img {
    width: 100%;
  }


/* TITLE AND TWO COLUMN KEY LEARNINGS TEXT STYLE */

.title__2__column__key__learnings__container {
  padding: 0 20px 0 20px;
 }


 .title__2__column__key__learnings__parent__main {
  display: flex;
  justify-content: space-between;
  /* padding-top: 100px; */
    
}

.title__2__column__key__learnings__block {
  display: block;
}

.title__2__column__key__learnings__parent__right {
  width: 600px;

}

.title__2__column__key__learnings__h3 {
  font-size: 20px;
  display: block;
  color: #D7196F;
}

.title__2__column__key__learnings__h4 {
  font-size: 16px;
  display: block;
  padding-bottom: 15px;
}

.title__2__column__key__learnings__p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  display: block;
  color: #999999;
  padding-bottom: 50px;
}








/* FOOTER */

.footer__container {
  margin-top: 200px;
}

hr {
  border: 0.5px solid #999999;
  margin: 100px 0 50px 0;
 }

.footer__parent {
  display: flex;
  justify-content: space-around;
}

.footer__logo {
  width: 40px;
} 

.footer__nav {
  text-decoration: none;
  color: #333333;
  height: 0px;
}

.footer__social__links {
  text-decoration: none;
  color: #333333;
  line-height: 1.8;
}

.footer__social__links:hover {
  text-decoration: underline;
  color: #D7196F;
}

.footer__nav:hover {
  text-decoration: underline;
  color: #D7196F;
}

.no__margin__right {
  margin-right: 0;
}



footer {
  padding-bottom: 100px;

}































}
